{%extends 'main.html'%}



{%block content%}

<style>
    .main{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }

</style>

<div class="main">

    <div>
       

    </div>
    

    <div>
        <a href="{%url 'create-room'%}">Create Room</a>
        <span> {{rount_count}} Rooms Available</span>
        <hr>
        
        {%include 'paris/feed_component.html'%}
    </div>

    <div>
        {%include 'paris/activity_component.html' %}

    </div>
    

</div>



{%endblock%}