{%extends 'main.html'%}


{%block content%}

<style>

    .room-container{
        display: grid;
        grid-template-columns: 3fr 1fr ;
    }
</style>

<div class="room-container">
    <div>
        <hr>
        <h3>{{room.name}}</h3>
        <p>{{room.host}}</p>

        <h3>{{room.description}}</h3>


        <div class="comment_wrapper">
            <h2>Conversation</h2>

            {%for message in room_messages%}
            {%if request.user == message.user%}
            <a href="{%url 'delete-room' message.id %}">Delete</a>
            {%endif%}
            <span>{{message.user}} -- {{message.created |timesince}}</span>

            <p>{{message.body}}</p>

            {%endfor%}
        </div>

        {%if request.user.is_authenticated%}
        <form method="POST" action="">
            {%csrf_token%}
            <input type="text" name="body" placeholder="'Enter your message here">

        </form>
        {%endif%}
    </div>

    <div>
        <h3>Participants</h3>
        
        {%for user in participant%}
        <h4>{{user.username}}</h4>
        {%endfor%}
        
        <hr>


    </div>
    


</div>


{%endblock%}